.start {
	height: 27px !important;
}

.end {
	height: 27px !important;
}

span {
	height: inherit !important;
}

.description {
	margin-top: 25px;
	font-size: 25px;
	font-weight: normal;
}


.my-heading {
	padding-top: 20px;
	padding-bottom: 20px;
	color: black;
	background-color: #eee;
	border-bottom: black 2px solid;
}


.text_edit{
    width: 900px;
    height: 400px;
    resize: none;
    border-color: lightgrey;
}

body{
  background-color: darkgrey;


.cash {
	width: 60%;
	height: 27px !important;
}



p {
	font-size: 20px;
}

.h1 {
	margin-top: 0px !important;
}
